
body {
     font: 20px Arial, sans-serif;
}
.navbar {
     background-color: #9b1202;
}

.quem-somos {
     background-color: #00b8dc;
     color: white;
}

.margin {
     padding-bottom: 50px;
     padding-top: 15px;
}

.parceiros {
     background-color: #b1dc00;
}

.servicos {
     background-color: aqua;
     color: black;
}

.bg-footer{
     background-color: black;
     color: white;
}